body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}

header {
    background: #ebebeb;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

nav{
    background-color: #ebebeb;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

section{
    background-color: #ebebeb;
    height: 150px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    float: left;
    width: 495px;

    
}

article{
    background-color: #777;
    color: #ebebeb;
    height: 120px;
}

p{
    background-color: #ebebeb;
    color: #777;
    margin: 20px;

}

aside{
    background-color: #ebebeb;
    height: 150px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    float: right;
    width: 35%;
}

footer{
    background-color: #ebebeb;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    clear: both;
    overflow: auto;
}